# Build and Release Folders
bin-debug/
bin-release/
starling/doc/html/
.actionScriptProperties
.flexLibProperties
.gradle/
.project
build/
extension/bin/z_starling_graphics_extensions.swc

# Project property files
.settings/

# OS X folders
.DS_Store

# Windows
Thumbs.db
